* {
  margin: 0;
  padding: 0;
}

/* Custom properties CSS colors */
:root {
  --principal: #306291;
  --fons-fosc: rgba(69, 141, 209, 0.5);
  --fons-clar: rgba(69, 141, 209, 0.2);
  --text: #1f1f11;
  --text-clar: #666666;
}

/* Selectors */

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  text-align: center;
  font-size: 16px;
  color: var(--text);
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.button {
  background-color: var(--fons-fosc);
  border-color: var(--principal);
  padding: 10px 50px;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: background-color 0.5s ease-out;
  padding: 10px;
}

.button:hover,
.button:focus {
  background-color: var(--fons-clar);
}

/* Nav */

a {
  color: var(--principal);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links {
  font-size: x-large;
}

.social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-links ul li {
  padding: 10px;
  margin: 10px;
}

/* Content */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--fons-clar);
  border-bottom: 3px solid var(--fons-fosc);
}

.presentation {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.presentation img {
  width: 200px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  margin: 0 auto;
}
.presentation q {
  font-size: 20px;
  text-align: justify;
  padding: 10px;
}

.section {
  border-top: 5px solid var(--fons-fosc);
  margin-bottom: 50px;
  line-height: 2em;
  list-style: none;
}

.section h3 {
  margin-top: 0;
  text-transform: uppercase;
  text-align: left;
}

.section ul {
  list-style-type: none;
  text-align: left;
  text-indent: 15px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills p {
  width: 125px;
  height: 25px;
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--fons-fosc);
  background-color: var(--fons-clar);
}

footer {
  text-align: center;
  border-top: 3px solid var(--fons-fosc);
  color: var(--text-clar);
  background-color: var(--fons-clar);
  padding-bottom: 10px;
}

footer > p {
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsive */

@media screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
